@model List<Article>
@{
    ViewBag.Title = "Index";
    var totalCount = (int)ViewBag.TotalCount;
    var pageSize = (int)ViewBag.PageSize;
    //总页
    var pageCount = totalCount / pageSize == 0 ? totalCount / pageSize : totalCount / pageSize + 1;
    var p = Convert.ToInt32(Request.QueryString["p"] ?? "1");
}

<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li> <a class="button border-main icon-plus-square-o" href="/admin/article/add"> 新增随笔</a> </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="50" style="text-align:left; padding-left:10px;">ID</th>
                <th width="30%">分类名称</th>
                <th width="30%">随笔名称</th>
                <th width="20%">更新时间</th>
                <th style="text-align:left;width:10%;">操作</th>
            </tr>
            <volist name="list" id="vo">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td style="text-align:left; padding-left:20px;">
                            @Model[i].ID
                        </td>
                        <td>@Model[i].CatalogID</td>
                        <td>@Model[i].Title</td>
                        <td>@Model[i].AddTime.ToString("yyyy-MM-dd")</td>
                        <td style="text-align:left;">
                            <div class="button-group">
                                <a class="button border-main" href="/admin/article/update/@Model[i].ID">
                                    <span class="icon-edit"></span> 修改
                                </a>
                                <a class="button border-red" href="javascript:void(0)" onclick="return del(@Model[i].ID)">
                                    <span class="icon-trash-o"></span> 删除
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="8">
                        <div class="pagelist">
                            <a href="/admin/article/index?p=1">首页</a>
                            <a href="/admin/article/index?p=@(p-1)">上一页</a>
                            <span class="current">@p</span>
                            <a href="/admin/article/index?p=@(p+1)">下一页</a>
                            <a href="/admin/article/index?p=@pageCount">尾页</a>
                        </div>
                    </td>
                </tr>
        </table>
    </div>
</form>
<script type="text/javascript">

    //搜索
    function changesearch() {

    }

    //单个删除
    function del(id) {
        if (confirm("您确定要删除吗?")) {
            $.post("/admin/article/delete", { id: id },
                function (data) {
                    if (data == 1) {
                        window.location.href = "/admin/article/index";
                    }
                    else {
                        alert("删除失败");
                    }
                });
        }
    }

    //全选
    $("#checkall").click(function () {
        $("input[name='id[]']").each(function () {
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    //批量删除
    function DelSelect() {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {
            var t = confirm("您确认要删除选中的内容吗？");
            if (t == false) return false;
            $("#listform").submit();
        }
        else {
            alert("请选择您要删除的内容!");
            return false;
        }
    }

    //批量排序
    function sorts() {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        }
        else {
            alert("请选择要操作的内容!");
            return false;
        }
    }


    //批量首页显示
    function changeishome(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        }
        else {
            alert("请选择要操作的内容!");

            return false;
        }
    }

    //批量推荐
    function changeisvouch(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {


            $("#listform").submit();
        }
        else {
            alert("请选择要操作的内容!");

            return false;
        }
    }

    //批量置顶
    function changeistop(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        }
        else {
            alert("请选择要操作的内容!");

            return false;
        }
    }


    //批量移动
    function changecate(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {

            $("#listform").submit();
        }
        else {
            alert("请选择要操作的内容!");

            return false;
        }
    }

    //批量复制
    function changecopy(o) {
        var Checkbox = false;
        $("input[name='id[]']").each(function () {
            if (this.checked == true) {
                Checkbox = true;
            }
        });
        if (Checkbox) {
            var i = 0;
            $("input[name='id[]']").each(function () {
                if (this.checked == true) {
                    i++;
                }
            });
            if (i > 1) {
                alert("只能选择一条信息!");
                $(o).find("option:first").prop("selected", "selected");
            } else {

                $("#listform").submit();
            }
        }
        else {
            alert("请选择要复制的内容!");
            $(o).find("option:first").prop("selected", "selected");
            return false;
        }
    }

</script>