@model UserPassword
@{
    ViewBag.Title = "修改密码";
}
@section scripts{

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style type="text/css">
        .field-validation-error {
            color: red;
        }
    </style>
}
<div class="panel-head"><strong><span class="icon-pencil-square-o"></span>  @ViewBag.Title</strong></div>
<div class="body-content">
    <form method="post" class="form-x" action="">
        <div class="form-group">
            <div class="label">
                @Html.LabelFor(m => m.Pwd)
            </div>
            <div class="field">
                @Html.PasswordFor(m => m.Pwd, new { @class = "input" })
                <div class="tips">
                    @Html.ValidationMessageFor(m => m.Pwd)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                @Html.LabelFor(m => m.NewPwd)
            </div>
            <div class="field">
                @Html.PasswordFor(m => m.NewPwd, new { @class = "input" })
                <div class="tips">
                    @Html.ValidationMessageFor(m => m.NewPwd)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                @Html.LabelFor(m => m.ComfrimPwd)
            </div>
            <div class="field">
                @Html.PasswordFor(m => m.ComfrimPwd, new { @class = "input" })
                <div class="tips">
                    @Html.ValidationMessageFor(m => m.ComfrimPwd)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="label">
                <label></label>
            </div>
            <div class="field">
                <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
            </div>
        </div>
    </form>
</div>
