@model IEnumerable<Article>
@section Header{
    <script src="~/Content/Plugin/datatables.net/js/jquery.dataTables.min.js"></script>
    <link href="~/Content/Plugin/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Plugin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">


    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        首页
        <small>博客文章</small>
    </h1>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>

            </div>
            <div class="modal-body">
                <p>确认删除？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="ibox-tools">
                        <span>关键字</span>
                        @Html.TextBox("KeyWords", null, new { @class = "m-wrap small" })
                        <a class="btn btn-primary btn-sm" title='搜索' id="btn_search" href="javascript:void(0)"><i class="fa fa-search"></i>搜索</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@Html.ActionLink("发布新公告",
    "Add", "Notice",null, new { @class= "btn btn-danger" })

<ul class="list-group mt-3 mb-3">
    @foreach (var n in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-10">
                    <h5>
                        @Html.ActionLink(n.Title, "Show", "Notice", new { id = n.ID }, new { })
                    </h5>
                    <small>@n.AddTime</small>
                </div>
                <div class="col-sm-2 text-right text-danger">
                    <a href="/article/Delete/@n.ID" onclick="return confirm('确认删除？')">
                        <i class="fa fa-remove"></i>
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
@Html.Raw(ViewBag.Pager)