@{
    ViewBag.Title = "博客园首页";
    var articleList = ViewBag.ListArticle as List<Article>;

    var userList = ViewBag.ListUser as List<User>;

    var hostArticleList = ViewBag.HotArticleList as List<ArticleDetail>;

    var blogModel = ViewBag.Blog as List<Blog>;
}
<div style="
        border: 1px solid red;
        /*background-image: url('../../Content/Img/13.jpg');*/
        background-repeat: no-repeat;
        background-size: 100%">
    <div class="am-g">
        <div class="am-u-sm-2">
            <div class="am-panel-group">
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">博文分类</div>
                    <ul class="am-list blog-list">
                        <li><a href="#">.NET技术</a></li>
                        <li><a href="#">编程语言</a></li>
                        <li><a href="#">软件设计</a></li>
                        <li><a href="#">软件设计</a></li>
                    </ul>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">友情链接</div>
                    <ul class="am-list blog-list">
                        <li><a href="https://www.zhihu.com/">知乎</a></li>
                        <li><a href="https://www.baidu.com/">百度搜索</a></li>
                        <li><a href="https://www.bilibili.com/">哔哩哔哩动画</a></li>
                        <li><a href="https://github.com/">GitHub</a></li>
                    </ul>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">推荐博客</div>
                    <ul class="am-list blog-list">
                        <li><a href="#">小岛上</a></li>
                        <li><a href="#">友情岁月</a></li>
                        <li><a href="#">小年之久</a></li>
                        <li><a href="#">秋叶原</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="am-u-sm-7">
            
            @for (int i = 0; i < hostArticleList.Count; i++)
            {

                <article class="blog-main">
                    <h2 class="am-article-title blog-title">
                        <a href="/@hostArticleList[i].BlogIdentity/p/@(hostArticleList[i].ID).html" style="font-size:16px;">@hostArticleList[i].Title</a>
                    </h2>
                    <h4 class="am-article-meta blog-meta">作者 <a href="">@hostArticleList[i].UserName</a> 发表于： @hostArticleList[i].AddTime.ToString("yyyy-MM-dd")  <a href="#"></a></h4>

                    <div class="am-g blog-content">
                        <div class="am-u-lg-12">
                            @hostArticleList[i].Discription
                        </div>
                    </div>
                </article>

                <hr class="am-article-divider blog-hr">
            }               
            <section>
                <ul data-am-widget="pagination" class="am-pagination am-pagination-default"></ul>
            </section>
        </div>
        <div class="am-u-sm-3">
            <div class="am-panel-group">
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">谷羽の博客园</div>
                    <div class="am-panel-bd">
                        <p>
                            谷羽の博客园是一个基于ASP.NET MVC和EF的一个多用户博客系统。涉及知识点。有缓存 有队列.....
                        </p>
                    </div>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">热门文章</div>
                    <ul class="am-list blog-list">
                        @foreach (var item in hostArticleList)
                        {
                            <li><a href="/@item.BlogIdentity/p/@(item.ID).html">@item.Title</a></li>
                        }
                    </ul>
                </section>

                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">博主排名</div>
                    <div class="am-panel-bd">
                        <ul class="am-avg-sm-4 blog-team">
                            @for (int i = 0; i < userList.Count; i++)
                            {
                                <li>
                                    <img src="~/Content/Img/1.jpg" width="70" height="70" />
                                </li>
                            }
                        </ul>
                    </div>
                </section>


            </div>
        </div>

    </div>
</div>