@model UserRegister
@{
    ViewBag.Title = "Register";
}
@section scripts{

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style type="text/css">
        .field-validation-error {
            color:pink;
        }
    </style>
}
<div class="am-g" style="margin-top:50px;">
    <div class="am-u-lg-5 am-u-md-6 am-u-sm-centered">
        <h1 style="text-align:center;">注册</h1>
        <hr> 
        <form method="post" class="am-form" action="Register">
            <label for="email">邮箱:</label>
            @Html.TextBoxFor(m => m.Email, new { @type = "email" })
            @Html.ValidationMessageFor(m => m.Email)
            <br>
            <label for="Name">用户名:</label>
            @Html.TextBoxFor(m => m.Name, new { @type = "text" })
            @Html.ValidationMessageFor(m => m.Name)
            <br>
            <label for="password">密码:</label>
            @Html.PasswordFor(m => m.Pwd, new { @type = "password" })
            @Html.ValidationMessageFor(m => m.Pwd)
            <br>
            <label for="PasswordConfirm">确认密码：</label>
            @Html.PasswordFor(m => m.PasswordConfirm, new { @type = "password" })
            @Html.ValidationMessageFor(m => m.PasswordConfirm)
            <label for="remember-me">
                <input id="remember-me" type="checkbox" name="">
                同意用户协议
            </label>
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl">
                <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
            </div>
        </form>
        <hr>
    </div>
</div>