@model Blog
@{
    var list = ViewBag.CatalogList as List<Catalog>;
    var hostArticleList = ViewBag.HotArticleList as List<Article>;

}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>谷羽の博客园</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="alternate icon" type="image/png" href="~/Content/AmazeUI-2.7.2/assets/i/favicon.png">
    <link href="~/Content/AmazeUI-2.7.2/assets/css/amazeui.min.css" rel="stylesheet" />
    <!--点赞动画-->

    <link href="~/Content/dianzan/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/dianzan/css/icons.css" rel="stylesheet" />
    <script src="~/Content/dianzan/js/dianzan.js"></script>
    <script src="~/Content/dianzan/js/mo.min.js"></script>

    <!--Live2D看板娘-->
    <link href="~/Scripts/Live2D看板娘/waifu.css" rel="stylesheet" />

    <style>
        .get {
            background: #1E5B94;
            color: #fff;
            text-align: center;
            padding: 100px 0;
        }

        .get-title {
            font-size: 200%;
            border: 2px solid #fff;
            padding: 20px;
            display: inline-block;
        }

        .get-btn {
            background: #fff;
        }

        .detail {
            background: #fff;
        }

        .detail-h2 {
            text-align: center;
            font-size: 150%;
            margin: 40px 0;
        }

        .detail-h3 {
            color: #1f8dd6;
        }

        .detail-p {
            color: #7f8c8d;
        }

        .detail-mb {
            margin-bottom: 30px;
        }

        .hope {
            background: #0bb59b;
            padding: 50px 0;
        }

        .hope-img {
            text-align: center;
        }

        .hope-hr {
            border-color: #149C88;
        }

        .hope-title {
            font-size: 140%;
        }

        .about {
            background: #fff;
            padding: 40px 0;
            color: #7f8c8d;
        }

        .about-color {
            color: #34495e;
        }

        .about-title {
            font-size: 180%;
            padding: 30px 0 50px 0;
            text-align: center;
        }

        .footer p {
            color: #7f8c8d;
            margin: 0;
            padding: 15px 0;
            text-align: center;
            background: #2d3e50;
        }
    </style>
    <style type="text/css">
        .Calendar {
            font-family: Verdana;
            font-size: 9pt;
            background-color: #EEE;
            text-align: center;
            padding: 10px;
            line-height: 1.5em;
        }

            .Calendar a {
                color: #0066CC;
            }

            .Calendar table {
                width: 100%;
                border: 0;
            }

                .Calendar table thead {
                    color: #acacac;
                }

                .Calendar table td {
                    font-size: 11px;
                    padding: 1px;
                }

        #idCalendarPre {
            cursor: pointer;
            float: left;
            padding-right: 5px;
        }

        #idCalendarNext {
            cursor: pointer;
            float: right;
            padding-right: 5px;
        }

        #idCalendar td.onToday {
            font-weight: bold;
            color: #C60;
        }

        #idCalendar td.onSelect {
            font-weight: bold;
        }

        #idCalendar {
            height: 300px;
        }
    </style>
    <script type="text/javascript">
        var $2 = function (id) {
            return "string" == typeof id ? document.getElementById(id) : id;
        };
        var Class = {
            create: function () {
                return function () {
                    this.initialize.apply(this, arguments);
                }
            }
        }
        Object.extend = function (destination, source) {
            for (var property in source) {
                destination[property] = source[property];
            }
            return destination;
        }
        var Calendar = Class.create();
        Calendar.prototype = {
            initialize: function (container, options) {
                this.Container = $2(container);//table结构容器
                this.Days = [];//日期列表
                this.SetOptions(options);
                this.Year = this.options.Year;
                this.Month = this.options.Month;
                this.SelectDay = this.options.SelectDay ? new Date(this.options.SelectDay) : null;
                this.onSelectDay = this.options.onSelectDay;
                this.onToday = this.options.onToday;
                this.onFinish = this.options.onFinish;
                this.Draw();
            },

            SetOptions: function (options) {
                this.options = {//默认值
                    Year: new Date().getFullYear(),
                    Month: new Date().getMonth() + 1,
                    SelectDay: null,//选择日期
                    onSelectDay: function () { },
                    onToday: function () { },
                    onFinish: function () { }
                };
                Object.extend(this.options, options || {});
            },
            //上月
            PreMonth: function () {
                //取得上月日期对象
                var d = new Date(this.Year, this.Month - 2, 1);
                //设置属性
                this.Year = d.getFullYear();
                this.Month = d.getMonth() + 1;
                //重绘日历
                this.Draw();
            },
            //下一个月
            NextMonth: function () {
                var d = new Date(this.Year, this.Month, 1);
                this.Year = d.getFullYear();
                this.Month = d.getMonth() + 1;
                this.Draw();
            },

            Draw: function () {
                //保存日期列表
                var arr = [];
                //用当月第一天在一周中的日期值作为当月离第一天的天数
                for (var i = 1, firstDay = new Date(this.Year, this.Month - 1, 1).getDay(); i <= firstDay; i++) { arr.push(" "); }
                //用当月最后一天在一个月中的日期值作为当月的天数
                for (var i = 1, monthDay = new Date(this.Year, this.Month, 0).getDate(); i <= monthDay; i++) { arr.push(i); }
                // /
                var frag = document.createDocumentFragment();
                this.Days = [];
                while (arr.length > 0) {
                    //每个星期插入一个tr
                    var row = document.createElement("tr");
                    //星期
                    for (var i = 1; i <= 7; i++) {
                        var cell = document.createElement("td");
                        cell.innerHTML = " ";
                        if (arr.length > 0) {
                            var d = arr.shift();
                            cell.innerHTML = d;
                            if (d > 0) {
                                this.Days[d] = cell;
                                //获取今日
                                if (this.IsSame(new Date(this.Year, this.Month - 1, d), new Date())) { this.onToday(cell); }
                                //判断用户是否作了选择
                                if (this.SelectDay && this.IsSame(new Date(this.Year, this.Month - 1, d), this.SelectDay)) { this.onSelectDay(cell); }
                            }
                        }
                        row.appendChild(cell);
                    }
                    frag.appendChild(row);
                }
                //此先清空然后再插入(ie的table不能用innerHTML)
                while (this.Container.hasChildNodes()) { this.Container.removeChild(this.Container.firstChild); }
                this.Container.appendChild(frag);
                this.onFinish();
            },
            //判断是否同一日
            IsSame: function (d1, d2) {
                return (d1.getFullYear() == d2.getFullYear() && d1.getMonth() == d2.getMonth() && d1.getDate() == d2.getDate());
            }
        };
    </script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <header class="am-topbar">
        <div style="width:1200px;margin:0 auto;">
            <h1 class="am-topbar-brand">
                <a href="#">@Model.Title</a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                    data-am-collapse="{target: '#doc-topbar-collapse'}">
                <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
            </button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li class="am-active"><a href="#">首页</a></li>
                    <li><a href="/" style="color:black!important">谷羽の博客园</a></li>
                    <li class="am-dropdown" data-am-dropdown>
                        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" style="color:black!important">
                            栏目 <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li class="am-dropdown-header">我的栏目</li>
                            @foreach (var item in list)
                            {
                                <li><a href="/@Model.Identity/@item.ID" style="color:black!important">@item.Name</a></li>
                            }



                        </ul>
                    </li>

                    @if (LoginBlog != null)
                    {
                        <li><a href="/admin/homes/index">管理</a></li>
                        <li><a href="/home/logoff">注销</a></li>
                    }
                </ul>
                <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
                    <div class="am-form-group">
                        <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
                    </div>
                    <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
                </form>

            </div>
        </div>
    </header>
    <div class="am-g  am-g blog-g-fixed" style="margin-top:50px">
        <div class="am-u-md-8 am-u-lg-9">
            @RenderBody()
        </div>
        <div class="am-u-md-4 am-u-lg-3 blog-sidebar">
            <div class="am-panel-group">
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">@Model.NiName</div>
                    <div class="am-panel-bd">
                        <p>
                            @Model.Discription
                        </p>
                    </div>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">时间</div>
                    <div class="am-panel-bd">

                        <div class="Calendar">
                            <div id="idCalendarPre"><<</div>
                            <div id="idCalendarNext">>></div>
                            <span id="idCalendarYear">2008</span>年 <span id="idCalendarMonth">8</span>月
                            <table cellspacing="0">
                                <thead>
                                    <tr>
                                        <td>日</td>
                                        <td>一</td>
                                        <td>二</td>
                                        <td>三</td>
                                        <td>四</td>
                                        <td>五</td>
                                        <td>六</td>
                                    </tr>
                                </thead>
                                <tbody id="idCalendar"></tbody>
                            </table>

                        </div>
                        <script language="JavaScript">
                            var cale = new Calendar("idCalendar", {
                                SelectDay: new Date().setDate(10),
                                onSelectDay: function (o) { o.className = "onSelect"; },
                                onToday: function (o) { o.className = "onToday"; },
                                onFinish: function () {
                                    $("idCalendarYear").innerHTML = this.Year; $("idCalendarMonth").innerHTML = this.Month;
                                    var flag = [10, 15, 20];
                                    for (var i = 0, len = flag.length; i < len; i++) {
                                        this.Days[flag[i]].innerHTML = "<a href='javascript:void(0);' onclick=\"alert('您选择的日期是：" + this.Year + "/" + this.Month + "/" + flag[i] + "');return false;\">" + flag[i] + "</a>";
                                    }
                                }
                            });
                            $("idCalendarPre").onclick = function () { cale.PreMonth(); }
                            $("idCalendarNext").onclick = function () { cale.NextMonth(); }
                        </script>
                    </div>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">博客栏目</div>
                    <ul class="am-list blog-list">
                        @foreach (var item in list)
                        {
                            <li><a href="/@Model.Identity/@item.ID" style="color:black!important">@item.Name</a></li>
                        }
                    </ul>
                </section>
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd">热门博文</div>
                    <ul class="am-list blog-list">
                        @foreach (var item in hostArticleList)
                        {
                            <li><a href="/@Model.Identity/p/@(item.ID).html" style="color:black!important">@item.Title</a></li>
                        }
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <link href="~/Scripts/Live2D看板娘/waifu.css" rel="stylesheet" />
    <!--看板娘-->
    <div class="waifu" id="waifu">
        <div class="waifu-tips" style="opacity:1;"></div>
        <canvas id="live2d" width="300" height="320" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>

    </div>
    <link href="https://cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
    <script src="~/Scripts/Live2D看板娘/flat-ui.min.js"></script>
    <script src="~/Scripts/Live2D看板娘/waifu-tips.js"></script>
    <script src="~/Scripts/Live2D看板娘/live2d.js"></script>

    <script type="text/javascript">initModel()</script>
    <footer class="footer">
        <p>
            ©@DateTime.Now.Year <a href="#" target="_blank">SCITC</a> 16301002 <a href="#" target="_blank">谷羽</a>の博客园
        </p>
    </footer>
    <script src="~/Content/AmazeUI-2.7.2/assets/js/amazeui.min.js"></script>
    <script src="~/Content/dianzan/js/mo.min.js"></script>
    <script src="~/Content/dianzan/js/dianzan.js"></script>
</body>
</html>

