@{
    Layout = "~/Views/Blog/_Layout.cshtml";
    var articleModel = ViewBag.Article as Article;
    ViewBag.Title = articleModel.Title;
}

@section scripts{
    <style>
        @@media only screen and (min-width: 1200px) {
            .blog-g-fixed {
                max-width: 1200px;
            }
        }

        @@media only screen and (min-width: 641px) {
            .blog-sidebar {
                font-size: 1.4rem;
            }
        }

        .blog-main {
            padding: 20px 0;
        }

        .blog-title {
            margin: 10px 0 20px 0;
        }

        .blog-meta {
            font-size: 14px;
            margin: 10px 0 20px 0;
            color: #222;
        }

            .blog-meta a {
                color: #27ae60;
            }

        .blog-pagination a {
            font-size: 1.4rem;
        }

        .blog-team li {
            padding: 4px;
        }

        .blog-team img {
            margin-bottom: 0;
        }

        .blog-content img,
        .blog-team img {
            max-width: 100%;
            height: auto;
        }

        .blog-footer {
            padding: 10px 0;
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function addUp(id) {
            //没登录的不让点赞
            $.post("/api/up", { id: id }, function (data) {
                if (data.status) {
                    $("#upi").text((parseInt($("#upi").text()) + 1))
                }
                else {
                    alert("点赞失败")
                }
            }, "json");
        }
    </script>
}
<div class="am-g am-g-fixed blog-g-fixed" >
    <div class="am-u-md-12">
        <article class="blog-main"> 
            <h3 class="am-article-title blog-title">
                <a href="#">@articleModel.Title</a>
            </h3>

            <div class="am-g blog-content">
                <div class="am-u-lg-12">
                    @Html.Raw(articleModel.Content)@*显示其原来的格式*@
                </div>
            </div>
            <h2 class="am-article-meta blog-meta">
                作者:<a href="">谷羽</a><a href="#"> @articleModel.AddTime</a>
                <span onclick="addUp(@articleModel.ID)">点赞(<i id="upi">@articleModel.UP</i>)</span>
            </h2>
        </article>
        <hr class="am-article-divider blog-hr">
    </div>

</div>

