@{
    Layout = "~/Views/Blog/_Layout.cshtml";
    var blogModel = ViewBag.Blog as Blog;
    ViewBag.NiName = blogModel.Identity;
    var articleModel = ViewBag.Article as Article;
    ViewBag.Title = articleModel.Title;
    var CommentList = ViewBag.CommentList as List<Comment>;
    ViewBag.CommentList = CommentList;
    //var totalCount = (int)ViewBag.TotalCount;
    //var pageSize = (int)ViewBag.PageSize;
    //var pageCount = totalCount / pageSize == 0 ? totalCount / pageSize :totalCount / pageSize + 1;
    //var p = Convert.ToInt32(Request.QueryString["p"] ?? "1");
}

@section scripts
{

    <style>
        @@media only screen and (min-width: 1200px) {
            .blog-g-fixed {
                max-width: 1200px;
            }
        }

        @@media only screen and (min-width: 641px) {
            .blog-sidebar {
                font-size: 1.4rem;
            }
        }

        .blog-main {
            padding: 20px 0;
        }

        .blog-title {
            margin: 10px 0 20px 0;
        }

        .blog-meta {
            font-size: 14px;
            margin: 10px 0 20px 0;
            color: #222;
        }

            .blog-meta a {
                color: #27ae60;
            }

        .blog-pagination a {
            font-size: 1.4rem;
        }

        .blog-team li {
            padding: 4px;
        }

        .blog-team img {
            margin-bottom: 0;
        }

        .blog-content img,
        .blog-team img {
            max-width: 100%;
            height: auto;
        }

        .blog-footer {
            padding: 10px 0;
            text-align: center;
        }
    </style>
    <script>
        function addUp(id) {
            $.ajax({
                url: "/api/up",
                type: "post",
                data: "id=" + id,
                success: function (msg) {
                    if (msg.status) {
                        $("#upi").text((parseInt($("#upi").text()) + 1));
                    }
                    else {
                        alert("点赞失败");
                    }
                },
                error: function () {
                    alert('调用异常！');
                }

            });
        }
        function setToUser(uid, name) {
            $("#to_UserID").val(uid);
            $("#toName").val(name);
        }
    </script>
}
<div class="am-g am-g-fixed blog-g-fixed">
    <div class="am-u-md-12">
        <ol class="grid">
            <li class="grid__item">
                <article class="blog-main">
                    <h3 class="am-article-title blog-title">
                        <a href="#">@articleModel.Title</a>
                    </h3>
                    <h2 class="am-article-meta blog-meta">
                        作者:<a href="#"style="color:black!important">@blogModel.NiName</a><span style="margin:0px 0px 0px 10px;">发布于:</span><a style="color:black!important"> @articleModel.AddTime</a>


                        <button class="icobutton icobutton--heart" style=" font-size:18px;" onclick="addUp(@articleModel.ID)">
                            <span class="fa fa-heart" style="transform: scale3d(1, 1, 1);margin:0px 0px 0px 10px;"></span>
                            <span class="icobutton__text icobutton__text--side" >
                                <i id="upi">@articleModel.UP</i>
                            </span>

                        </button>

                    </h2>

                    <div class="am-g blog-content">
                        <div class="am-u-lg-11">
                            @Html.Raw(articleModel.Content)@*显示其原来的格式*@
                        </div>
                    </div>

                </article>
            </li>
        </ol>
        <hr class="am-article-divider blog-hr">

        <ul class="am-comments-list am-comments-list-flip">
            @if (CommentList != null)
            {
                for (int i = 0; i < CommentList.Count; i++)
                {

                    <li class="am-comment">
                        <a href="javascript:void()" onclick="setToUser(@CommentList[i].Form_UserID,@CommentList[i].User.Name)">
                            <img src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt="" class="am-comment-avatar" width="48" height="48">
                        </a>
                        <div class="am-comment-main">
                            <header class="am-comment-hd">
                                <div class="am-comment-meta">
                                    <a href="#link-to-user" class="am-comment-author">@CommentList[i].User.Name</a>
                                    评论于 <time datetime="@(((DateTime)CommentList[i].AddTime).ToString("yyyy-MM-dd hh:mm"))" title="">@(((DateTime)CommentList[i].AddTime).ToString("yyyy-MM-dd hh:mm"))</time>
                                </div>
                            </header>
                            <div class="am-comment-bd">
                                <p>@CommentList[i].Contents</p>
                            </div>
                            <footer class="am-comment-footer">
                                <div class="am-comment-actions">
                                    <a href="">
                                        <i class="am-icon-thumbs-up"></i>
                                    </a>
                                    <a href="">
                                        <i class="am-icon-thumbs-down"></i>
                                    </a>
                                    <a href="#miao" onclick="reply(@CommentList[i].ID,'@CommentList[i].User.Name');"><i class="am-icon-reply"></i></a>
                                </div>
                            </footer>
                        </div>
                    </li>
                }

            }


        </ul>

        <script type="text/javascript">
            function reply(To_UserID, BlogID) {
                $('input[name="To_UserID"]').val(To_UserID);
                $('#replylegend').text('回复:' + username);
            }
        </script>
    </div>
    <form class="am-form" method="post" action="/Blog/Article">
        <fieldset>
            <legend id="replylegend">回复：<span id="toName">@articleModel.Catalog.Blog.NiName</span></legend>
            <input type="hidden" name="id" value="@articleModel.ID" />
            <input type="hidden" name="to_UserID" id="to_UserID" value="@articleModel.UserID" />
            <div class="am-form-group">
                <label for="doc-ta-1">内容</label>
                <textarea class="" name="content" rows="5" id="doc-ta-1"></textarea>
                <a name="miao"></a>
            </div>

            <p><button type="submit" class="am-btn am-btn-default">提交</button>    <button type="button" class="am-btn am-btn-default">取消</button></p>

        </fieldset>
    </form>
    <ul class="am-pagination blog-pagination">
        <li class="am-pagination-prev"><a href="#"> &laquo;上一页</a></li>
        <li class="am-pagination-next"><a href="#">下一页 &raquo;</a></li>
    </ul>
</div>

