@model List<Comment>
@{
    ViewBag.Title = "评论管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var articleList = ViewBag.ArticleList as List<Article>;

}

<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
        <div class="padding border-bottom">
        </div>
          <table class="table table-hover text-center">
                            <tr>
                                <th style="width:5% ;padding-left:20px;">用户名称</th>
                                <th width="5%">评论文章</th>
                                <th width="20%">评论内容</th>
                                <th width="5%">评论时间</th>
                                <th width="5%">操作</th>
                            </tr>
                            <volist name="list" id="">

                                @foreach (var c in Model)
                                {<tr>
                                        <td style="padding-left:20px;">
                                            @Html.ActionLink(c.Article.Catalog.Blog.User.Name, "", "", new { id = c.ID }, new { })
                                        </td>
                                        <td>
                                            @Html.ActionLink(c.Article.Title, "", "", new { id = c.ID }, new { })
                                        </td>
                                        <td>
                                            @Html.ActionLink(c.Contents, "", "", new { id = c.ID }, new { })
                                        </td>
                                        <td>
                                            @Html.ActionLink(c.AddTime.ToString("yyyy-MM-dd"), "", "", new { id = c.ID }, new { })
                                        </td>
                                        <td>
                                            <div class="button-group">
                                                <a class="button border-red" href="javascript:void(0)" onclick="return del(@c.ID)">
                                                    <span class="icon-trash-o"></span>删除
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                        </table>
    </div>
</form>
<script type="text/javascript">


    //单个删除
    function del(id) {
        if (confirm("您确定要删除吗?")) {
            $.post("/admin/comment/delete", { id: id },
                function (data) {
                    if (data == 1) {
                        window.location.href = "/admin/comment/index";
                    }
                    else {
                        alert("删除失败");
                    }
                });
        }
    }
</script>

